In [11]:
# -*- coding: utf-8 -*-
import requests
import xmltodict
import time
import pandas as pd

In [12]:
url_base = "http://openapi.jeonju.go.kr/rest/nurserynew/getNurseryList"
url_serviceKey = "%2BVb8xVKvI1egaup4mMKwsx%2BhKkfLVUlq2uHRez%2FEnHnw4KuIomgEZOEgpbOwDRom03ahj9zv2vWgIEfewdzr7Q%3D%3D"
url = url_base + "?serviceKey=" + url_serviceKey + "&startPage=" + '1'+ '&pageSize=' + '611'

In [13]:
req = requests.get(url).content

In [14]:
xmlObject = xmltodict.parse(req)

In [15]:
dict_data = xmlObject['rfcOpenApi']['body']['data']['list']

In [16]:
df = pd.DataFrame(dict_data)

In [17]:
df.head(1)

,chidAddr,chidCharacter,chidDirector,chidGubun,chidIsCar,chidIsValue,chidName,chidPermitDay,chidPermitNo,chidSid,chidTel,chidValueDate,posx,posy
0,전라북도 전주시 완산구 효자동3가 세내로 291,None,None,민간,None,None,힐스테이트어린이집,None,None,611,063-221-2550,None,127.111715,35.8163627

In [18]:
df.tail(1)

,chidAddr,chidCharacter,chidDirector,chidGubun,chidIsCar,chidIsValue,chidName,chidPermitDay,chidPermitNo,chidSid,chidTel,chidValueDate,posx,posy
610,"전라북도 전주시 완산구 여울로 161 관리동(서신동, e편한세상)",None,None,민간,None,None,e편한세상어린이집,None,None,1,063-251-2131,None,127.107098,35.8393939

In [19]:
df.to_csv('/Users/gimdong-wan/Desktop/DataCampus/data/table/전주시_어린이집.csv',encoding='cp949')