In [2]:
# -*- coding: utf-8 -*-
import requests
import xmltodict
import time
import pandas as pd

In [3]:
url_base = "http://openapi.jeonju.go.kr/rest/streetlamp/getStreetlamp"
url_serviceKey = "%2BVb8xVKvI1egaup4mMKwsx%2BhKkfLVUlq2uHRez%2FEnHnw4KuIomgEZOEgpbOwDRom03ahj9zv2vWgIEfewdzr7Q%3D%3D"
url = url_base + "?serviceKey=" + url_serviceKey + "&startPage=" + '1'+ '&pageSize=' + '14935'

In [4]:
req = requests.get(url).content

In [5]:
xmlObject = xmltodict.parse(req)

In [6]:
dict_data = xmlObject['rfcOpenApi']['body']['data']['list']

In [7]:
df = pd.DataFrame(dict_data)

In [8]:
df.head()

     baseDate  boxNm lampCnt poleNum        posx       posy    seq
0  2015-08-26  흑석로01       1       8  127.150337  35.802458  14935
1  2015-08-26  흑석로01       1       7  127.150302  35.801953  14934
2  2015-08-26  흑석로01       1       6  127.150561  35.801543  14933
3  2015-08-26  흑석로01       1       5  127.150776   35.80116  14932
4  2015-08-26  흑석로01       1       4  127.150823   35.80069  14931

In [9]:
df.tail(3)

         baseDate   boxNm lampCnt poleNum        posx       posy seq
14932  2015-08-26  가련산로01       2       3  127.109787  35.841054   3
14933  2015-08-26  가련산로01       2       2  127.109582  35.840878   2
14934  2015-08-26  가련산로01       2       1  127.109411  35.840694   1