In [10]:
# -*- coding: utf-8 -*-
import requests
import xmltodict
import time
import pandas as pd

In [11]:
url_base = "http://openapi.jeonju.go.kr/rest/toilet/getToiletList"
url_serviceKey = "%2BVb8xVKvI1egaup4mMKwsx%2BhKkfLVUlq2uHRez%2FEnHnw4KuIomgEZOEgpbOwDRom03ahj9zv2vWgIEfewdzr7Q%3D%3D"
url = url_base + "?serviceKey=" + url_serviceKey + "&startPage=" + '1'+ '&pageSize=' + '174'

In [12]:
req = requests.get(url).content

In [13]:
xmlObject = xmltodict.parse(req)

In [14]:
dict_data = xmlObject['rfcOpenApi']['body']['data']['list']

In [15]:
df = pd.DataFrame(dict_data)

In [16]:
df.head(1)

,baseDate,dataSid,dataTitle,insDate,m1,m2,m3,m4,m5,m6,...,openTime,posx,posy,roadAddr,toiletAdmin,toiletArea,type,w1,w2,w3
0,2019-05-31,1,월드컵경기장(남동쪽방향),00:00~24:00,N,3.0,5.0,1.0,0.0,0.0,...,063-239-2548,35.868057,127.064519,전라북도 전주시 덕진구 기린대로 1055,0.0,2017-06-01,공중화장실,0.0,6.0,0.0

In [17]:
df.tail(1)

,baseDate,dataSid,dataTitle,insDate,m1,m2,m3,m4,m5,m6,...,openTime,posx,posy,roadAddr,toiletAdmin,toiletArea,type,w1,w2,w3
173,2019-05-31,174,관광안내소(한옥마을주차장),00:00~24:00,N,2.0,4.0,1.0,0.0,0.0,...,063-281-2333,35.81859,127.153967,전라북도 전주시 완산구 기린대로 99,0.0,2017-06-01,공중화장실,0.0,4.0,1.0

In [18]:
df.to_csv('/Users/gimdong-wan/Desktop/DataCampus/data/table/전주시_개방화장실.csv',encoding='cp949')